<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Music Search</title>
  <link href="/bootstrap.css" rel="stylesheet">
  <link href="/mycss.css" rel="stylesheet">
</head>
<body>
  <div class="container" id="main">
    <div class="page-header">
      <h1 class="text-center">FIND MY ARTIST d~_~b</h1>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
          <form action="#" method="POST">
          <input type="test" name="#" placeholder="test...">
          </form>
        </div>
      </div>
    </div>

    <%= yield %>
  </div>
</body>
</html>